{% extends 'base.html.twig' %}

{% block title %}Portfolio de Jovany{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container mt-5">
    <header class="text-center mb-5">
        <h1 class="display-4">Hey, je suis <a href="https://www.kara.fr/fiches-metiers/developpeur-web/" target="_blank" class="text-decoration-none text-white" id="dev-web-link">développeur web</a> !</h1>
        <p class="lead">Moi, c'est Jovany, je viens de valider la formation DWWM (développeur web et web mobile) et je compte continuer vers le niveau supérieur !</p>
    </header>

    <section class="info mb-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">La formation Développeur Web à <a href="https://www.groupe-ugecam.fr/esrp-beauvoir" target="_blank" class="link-white text-decoration-none">L'ESRP Beauvoir</a></h4>
                <p class="card-text">L'ESRP (Établissement et Service de Réadaptation Professionnelle) "Beauvoir" situé à Evry Courcouronnes dispense des formations pour adultes en situation d'handicap.</p>
                <p class="card-text">Titre de niveau 3, la formation de Développeur web permettra, en 16 mois, m'a permis de m'approprier les techniques essentielles de programmation, de maîtriser les langages incontournables tels que HTML, CSS, JavaScript et PHP, ainsi que d'approfondir les méthodologies de développement, le travail en équipe via Git, et l'utilisation des frameworks modernes comme React et Laravel, tout en développant des compétences en résolution de problèmes, gestion de projets, et apprentissage continu dans un domaine en perpétuelle évolution.</p>
            </div>
        </div>
    </section>

    <section class="row mb-5 g-5">
        <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">
            <img src="{{ asset('images/poste.jpg') }}" class="img-fluid rounded same-height" alt="ça travaille !">
        </div>
        <div class="col-md-3" data-aos="fade-right" data-aos-duration="2000">
            <img src="{{ asset('images/smiling.jpg') }}" class="img-fluid rounded same-height" alt="c'est moi !">
        </div>
         <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">
            <img src="{{ asset('images/classejo.jpg') }}" class="img-fluid rounded same-height" alt="la classe !">
        </div>
    </section>
</div>

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}
{% endblock %}
