<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-brand d-flex align-items-center">
                    <img id="photo" src="{{ asset('images/jova.png') }}" alt="moi" class="rounded-circle me-2" width="100" height="100">
                    <h1 class="h4 mb-0">BERNEZ Jovany</h1>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex justify-content-end w-100 mb-3">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="btn  btn-outline-primary me-5  night-mode-text btn-sm btn-connexion" href="{{ path('app_login') }}">Connexion</a>
                        {% endif %}
                        <a class="btn btn-outline-primary btn-sm me-3" href="mailto:jovany.bernez@gmail.com" class="text-decoration-none">Écrivez-moi !</a>
                    </div>
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_mon_histoire') }}">Mon histoire</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_projects') }}">Projets réalisés</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_memo_list') }}">Mémo</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_blog') }}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_livredor') }}">Témoignages</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Réseaux Sociaux
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="https://www.facebook.com/jovany.bnz/"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                                <li><a class="dropdown-item" href="https://www.linkedin.com/in/jovany-bernez/"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                                <li><a class="dropdown-item" href="https://www.tiktok.com/@toman.jo"><i class="fab fa-tiktok"></i> TikTok</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>